.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.title {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.calculated {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 43px;
  font-size: 1.2em;
}
